<section class="register-form d-flex flex-column">
    <div class="connexion-title d-flex gap-3">
        <img src="{{ asset('build/images/cactus-registration.png') }}" alt="cactus-registration">
        <h1>Modifier mes informations</h1>
    </div>
    {{ form_start(registrationForm) }}
        <div class="form-fields d-flex">
            <div>
                {{ form_row(registrationForm.firstname, {
                    label: 'Prénom'
                }) }}
                {{ form_row(registrationForm.lastname, {
                    label: 'Nom de famille'
                }) }}
                {{ form_row(registrationForm.phone, {
                    label: 'Téléphone'
                }) }}
            </div>
            <div>
                {{ form_row(registrationForm.streetAddress, {
                    label: 'Numéro de rue + rue'
                }) }}
                {{ form_row(registrationForm.postalCode, {
                    label: 'Code postal'
                }) }}
                {{ form_row(registrationForm.city, {
                    label: 'Ville'
                }) }}
            </div>
            <div>
                {{ form_row(registrationForm.email, {
                    label: 'Adresse email'
                }) }}
                <a href="#" class="btn btn-info">Modifier mon mot de passe</a>
            </div>
        </div>
        <button type="submit" class="btn btn-success m-2">Enregistrer</button>
    {{ form_end(registrationForm) }}
    {{ include('profile/_delete_form.html.twig') }}
</section>
