{% extends 'base.html.twig' %}

{% block title %}Mon panier{% endblock %}

{% block body %}
<main class="product-card d-flex flex-column align-items-center p-1 mt-5 mb-5">
    <div class="connexion-title d-flex gap-3">
        <img src="{{ asset('build/images/cactus-cart.png') }}" alt="cactus-registration">
        <h1 class="m-3">Mon panier</h1>
    </div>

    {% if items|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td><a href="{{ path("products_show", {id: item.product.id}) }}" target="_blank"><img src="../build/images/{{ item.product.picture }}" alt="product picture" style="width: 50px; height: 50px"></a> {{ item.product.name }}</td>
                        <td>{{ item.product.price / 100 }} €</td>
                        <td><a href="{{ path("cart_decrement", {id: item.product.id}) }}" class="btn btn-info fw-bold">-</a> {{ item.quantity }} <a href="{{ path("cart_add", {id: item.product.id}) }}?returnToCart=true" class="btn btn-info fw-bold">+</a></td>
                        <td>{{ item.total / 100 }} €</td>
                        <td><a href="{{ path("cart_delete", {id: item.product.id}) }}" title="supprimer ce produit" class="btn btn-danger">X</a></td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total (hors livraison) : </td>
                    <td colspan="2" class="text-end">{{ total / 100 }} €</td>
                </tr>
                <tr>
                    <td colspan="3">Livraison : </td>
                    <td colspan="2" class="text-end">5.99 €</td>
                </tr>
                <tr>
                    <td colspan="3" class="fw-bold">Total : </td>
                    <td colspan="2" class="fw-bold text-end">{{ total / 100 + 5.99 }} €</td>
                </tr>
            </tfoot>
        </table>
        <hr>
        <section>
            {% if app.user %}
                <h2>Confirmez votre commande en remplissant ce formulaire</h2>
                {{ form_start(confirmationForm, {'action': path('purchase_confirm')}) }}
                {{ form_widget(confirmationForm) }}
                <button type="submit" class="btn btn-success m-2">Commander</button>
                {{ form_end(confirmationForm) }}
            {% else %}
                <div class="d-flex flex-column align-items-center">
                    <h2 class="h5">Vous devez être connecté pour confirmer cette commande.</h2>
                    <a href="{{ path('login') }}" class="btn btn-info m-2">Connexion</a>
                    ou <a href="{{ path('app_register') }}" class="btn btn-info m-2">Créez un compte</a>
                </div>
            {% endif %}
        </section>
    {% else %}
        <h2>Votre panier est vide 😢</h2>
    {% endif %}
</main>
{% endblock %}
