{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}

{% block body %}
<main class="d-flex flex-column align-items-center m-4">
    <a href="{{ path('admin') }}" title="retour au panneau administrateur" class="btn btn-success align-self-start">Retour au panneau administrateur</a>
    <h1 class="m-3">Liste des produits</h1>

    <table class="table  text-center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Taille</th>
                <th>Quantité</th>
                <th>Crée le</th>
                <th>Prix</th>
                <th>Image</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.size }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.createdAt ? product.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ product.price / 100 }} €</td>
                <td>{{ product.picture }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-primary m-1">Afficher</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}" class="btn btn-info m-1">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Pas de produit enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('product_new') }}" class="btn btn-info">Créer un nouveau produit</a>
</main>
{% endblock %}
